{% extends 'homebase.html' %}
{% block title %} {{ setting.title }}  {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block header %} {% include 'header.html' %}  {% endblock %}
{% block footer %} {% include 'footer.html' %}  {% endblock %}
{% block body %}
{% load static %}
<section class="bg-half">
    <div class="bg-overlay"></div>
</section>

<!-- ABOUT US START -->
<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-4">
                <img src="https://via.placeholder.com/800X800//88929f/5a6270C/O https://placeholder.com/"
                     class="img-fluid rounded shadow" alt="">
            </div>

            <div class="col-lg-7 col-md-8">
                <div class="about-desc ml-lg-4">
                    <h4 class="text-dark">Hakkımızda</h4>

                    <p> {{setting.aboutus|safe}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT US END -->

<!-- DOWNLOAD APP START -->
<section class="section pb-0"
         style="background: url('/uploads/images/bg.jpg')">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-1 order-2">
                <div class="job-about-app-img mt-40">
                    <img src="{% static 'images/app-download-img.png' %}" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>

            <div class="col-md-6 order-md-2 order-1">
                <div class="app-about-content">
                    <div class="app-about-desc text-white">
                        <h4 class="text-white mb-3">Mobil uygulamamızı denediniz mi?</h4>
                        <p class="font-weight-light text-white-50">Mobil cihazlarınızda daha iyi bir deneyim için Uygulamamızı kullanmanızı
                            tavsiye ederiz. Android ve Apple cihazlarınız için aşağıdaki linklerden uygulamamıza kolayca ulaşabilirsiniz.</p>
                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item"><a href="javascript:void(0)"><img
                                    src="{% static 'images/apple.png'%}" class="mt-2" height="60" alt=""></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><img
                                    src="{% static 'images/google.png'%}" class="mt-2" height="60" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- DOWNLOAD APP END -->


{% endblock %}