{% extends 'homebase.html' %}
{% block title %} {{ setting.title }}  {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block header %} {% include 'header.html' %}  {% endblock %}
{% block footer %} {% include 'footer.html' %}  {% endblock %}
{% block body %}
{% load static %}
<section class="bg-half" style="background: url('/uploads/images/bg.jpg')">>
    <div class="bg-overlay"></div>
</section>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="candidates-profile-details text-center">
                <img src="/uploads/{{userprofile.image}}"
                     height="250" alt="" class="d-block mx-auto shadow rounded-pill mb-4">
                <h5 class="text-dark mb-2">{{userprofile.full_name}}</h5>
                <p class="text-dark-50 h6 mb-2"><i class="mdi mdi-bank mr-2"></i>{{user_experience.company}}</p>
                <p class="text-dark-50 h6 mb-2">{{user_experience.position}}</p>

                <ul class="list-unstyled social-icon social mb-0">
                    <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-instagram"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-google-plus"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- CANDIDATES PROFILE START -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-dark">Bilgilerim :</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 mt-3">
                <div class="border rounded p-4">
                    <ul class="list-inline pt-3 mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="" class="text-muted f-15 mb-0"><i class="mdi mdi-map-marker mr-2"></i>{{userprofile.address}}</a>
                        </li>

                        <li class="list-inline-item mr-3">
                            <a href="" class="text-muted f-15 mb-0"><i class="mdi mdi-web mr-2"></i>{{userprofile.web_site}}</a>
                        </li>

                        <li class="list-inline-item mr-3">
                            <a href="" class="text-muted f-15 mb-0"><i class="mdi mdi-email mr-2"></i>{{userprofile.email}}</a>
                        </li>

                        <li class="list-inline-item mr-3">
                            <a href="" class="text-muted f-15 mb-0"><i class="mdi mdi-cellphone-iphone mr-2"></i>{{userprofile.phone}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 mt-4 pt-2">
                <h4 class="text-dark">Hakkımda :</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 mt-3">
                <div class="border rounded p-4">
                    <div class="job-detail-desc">
                        <p class="text-muted f-14 mb-3">{{userprofile.presentation}}</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 mt-4 pt-2">
                <h4 class="text-dark">Education :</h4>
            </div>
        </div>

        <div class="row">
            <!-- START  -->
            {% for education in user_education %}
            <div class="col-lg-4 col-md-6 mt-4 pt-5">
                <div class="border rounded candidates-profile-education text-center text-muted">
                    <div class="profile-education-icon border rounded-pill bg-white text-primary">
                        <i class="mdi mdi-36px mdi-school"></i>
                    </div>
                    <h6 class="text-uppercase f-17"><a href="#" class="text-muted">{{education.school}}</a></h6>
                    <p class="f-14 mb-1">{{education.start_date}} - {{education.end_date}}</p>
                    <p class="pb-3 mb-0">{{education.department}}</p>

                    <p class="pt-3 border-top mb-0">{{education.education_add_info}}</p>
                </div>
            </div>
            {%endfor%}
            <!-- END -->
        </div>

        <div class="row">
            <div class="col-lg-12 mt-4 pt-2">
                <h4 class="text-dark">Experience :</h4>
            </div>
        </div>

        <div class="row">
            <!-- START -->
            {% for experience in user_experience %}
            <div class="col-md-6 mt-3 mt-md-0 pt-3">
                <div class="border rounded job-list-box p-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="company-brand-logo text-center mb-4">
                                <img src="images/featured-job/img-2.png" alt="" class="img-fluid mx-auto d-block">
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="job-list-desc candidates-profile-exp-desc">
                                <h5 class="f-19 mb-2"><a href="#" class="text-dark">{{experience.company}}</a></h5>
                                <p class="text-muted mb-0 f-16">{{experience.position}}</p>
                                <p class="text-muted mb-0 f-16">{{experience.date_from}} -
                                    {{experience.date_to}}</p>
                                <p class="text-muted mb-0 f-16">Salary : $950</p>
                                <p class="text-muted mb-0 f-16"><i class="mdi mdi-bank mr-2"></i>www.webthemesltd.co.in
                                </p>
                                <p class="text-muted mb-0 f-16"><i class="mdi mdi-map-marker mr-2"></i>1919 Ward
                                    Road
                                    West Nyack, NY 10994</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
            <!-- END -->
        </div>

        <div class="row">
            <div class="col-lg-12 mt-4 pt-2">
                <h4 class="text-dark">Skills :</h4>
            </div>
        </div>
        <div class="row">

            <!-- START -->
            {% for skil in user_skills %}
            <div class="col-md-6 mt-4 pt-2">
                <div class="progress-box mt-4">
                    <h6 class="title text-muted">{{skil.skill}}</h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped position-relative bg-primary"
                             style="width:{{skil.skill_value}}%;">
                            <div class="progress-value d-block text-muted h6">{{skil.skill_value}}%</div>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
            <!-- END -->


        </div>
    </div>
</section>
<!-- CANDIDATES PROFILE END -->
{% if userprofile.user.id == user.id %}
<!-- applied jobs start -->
<section class="section bg-light">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-9 text-center mt-4 pt-2">
                <ul class="nav nav-pills nav nav-pills bg-white rounded nav-justified flex-column flex-sm-row"
                    id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link rounded active" id="recent-job-tab" data-toggle="pill" href="#recent-job"
                           role="tab" aria-controls="recent-job" aria-selected="true">Başvurduğum İlanlar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded" id="featured-job-tab" data-toggle="pill" href="#featured-job"
                           role="tab" aria-controls="featured-job" aria-selected="false">Bana Uygun İlanlar</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-content mt-2" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="recent-job" role="tabpanel"
                         aria-labelledby="recent-job-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--START-->
                                {%for applied_job in applied_jobs %}
                                <div class="job-box bg-white overflow-hidden border rounded mt-4 position-relative overflow-hidden">
                                    <div class="p-4">
                                        <div class="row align-items-center">
                                            <div class="col-md-2">
                                                <div class="mo-mb-2">
                                                    <a href="/company-detail/{{applied_job.company.slug}}"><img
                                                            src="/uploads/{{applied_job.company.logo}}" alt=""
                                                            class="img-fluid mx-auto d-block"></a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div>
                                                    <h5 class="f-18"><a
                                                            class="text-dark">{{applied_job.title}}</a>
                                                    </h5>
                                                    <p class="text-muted mb-0">
                                                        {{applied_job.company.company_name}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div>
                                                    <p class="text-muted mb-0"><i
                                                            class="mdi mdi-map-marker text-muted mr-2"></i>{{applied_job.city}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span
                                                            class="mdi mdi-folder"> </span> {{applied_job.category}}
                                                    </p>

                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <p class="text-muted mb-0">{{applied_job.job_type}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-3 bg-light">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span
                                                            class="text-dark">Tecrübe :</span>
                                                        {{applied_job.experience}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span
                                                            class="text-dark">Eğitim :</span>
                                                        {{applied_job.education_level}} </p>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <a href="/job-details/{{applied_job.slug}}"
                                                       class="text-primary">İlana Git <i
                                                            class="mdi mdi-chevron-double-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!--END-->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="featured-job" role="tabpanel" aria-labelledby="featured-job-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--START-->
                                {%for job_for_me in jobs_for_me %}
                                <div class="job-box bg-white overflow-hidden border rounded mt-4 position-relative overflow-hidden">
                                    <div class="p-4">
                                        <div class="row align-items-center">
                                            <div class="col-md-2">
                                                <div class="mo-mb-2">
                                                    <a href="/company-detail/{{job_for_me.company.slug}}"><img
                                                            src="/uploads/{{job_for_me.company.logo}}" alt=""
                                                            class="img-fluid mx-auto d-block"></a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div>
                                                    <h5 class="f-18"><a
                                                            class="text-dark">{{job_for_me.title}}</a>
                                                    </h5>
                                                    <p class="text-muted mb-0">
                                                        {{job_for_me.company.company_name}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div>
                                                    <p class="text-muted mb-0"><i
                                                            class="mdi mdi-map-marker text-muted mr-2"></i>{{job_for_me.city}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span
                                                            class="mdi mdi-folder"> </span> {{job_for_me.category}}
                                                    </p>

                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <p class="text-muted mb-0">{{job_for_me.job_type}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-3 bg-light">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span
                                                            class="text-dark">Tecrübe :</span>
                                                        {{job_for_me.experience}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span
                                                            class="text-dark">Eğitim :</span>
                                                        {{job_for_me.education_level}} </p>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <a href="/job-details/{{job_for_me.slug}}" class="text-primary">İlana
                                                        Git <i
                                                                class="mdi mdi-chevron-double-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!--END-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- end row -->
        <div class="row">
            <div class="col-lg-12 mt-4 pt-2">
                <nav aria-label="Page navigation example">
                    <ul class="pagination job-pagination mb-0 justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <i class="mdi mdi-chevron-double-left f-15"></i>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <i class="mdi mdi-chevron-double-right f-15"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- end containar -->
</section>
<!-- applied jobs end -->
{% endif %}
{% endblock %}