{% extends 'homebase.html' %}
{% block title %} {{ setting.title }}  {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block header %} {% include 'header.html' %}  {% endblock %}
{% block footer %} {% include 'footer.html' %}  {% endblock %}
{% block body %}
{% load static %}
{% load crispy_forms_tags %}
<section class="bg-half">
    <div class="bg-overlay"></div>
</section>
<!-- COMPANY DETAILS START -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-sm-center">
                    <div class="col-lg-4 mx-auto">
                        <div class="company-logo-img">
                            <img src="/uploads/{{company.logo}}" height="250" alt=""
                                 class="img-fluid mx-auto d-block">
                        </div>
                    </div>
                    <h4 class="mt-3"><a href="#" class="text-dark">{{company.company_name|title}}</a></h4>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i>{{company.address}}</p>
                        </li>
                    </ul>

                    <ul class="list-inline mb-2">
                        <li class="list-inline-item mr-3 ">
                            <p class="text-muted"><i class="mdi mdi-earth mr-2"></i>{{company.web_site}}</p>
                        </li>

                        <li class="list-inline-item mr-3">
                            <p class="text-muted"><i class="mdi mdi-email mr-2"></i>{{company.email}}</p>
                        </li>

                        <li class="list-inline-item">
                            <p class="text-muted"><i class="mdi mdi-cellphone-iphone mr-2"></i>{{company.phone}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="border-top border-bottom pt-4 pb-4">
                    <div class="row justify-content-sm-center">
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="text-sm-center m-14">
                                <h5 class="text-dark mb-2">Çalışan Sayısı</h5>
                                <p class="text-muted mb-0">{{company.employers}}+</p>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="text-sm-center m-14">
                                <h5 class="text-dark mb-2">Sektör</h5>
                                <p class="text-muted mb-0">{{company.sector}}</p>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="text-sm-center m-14">
                                <h5 class="text-dark mb-2">Experience</h5>
                                <p class="text-muted mb-0">4 Years + Exp.</p>
                            </div>
                        </div>


                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="text-sm-center m-14">
                                <h5 class="text-dark mb-2">Aktif İlan</h5>
                                <p class="text-muted mb-0">5</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <h4>Firma Hakkında :</h4>
                <div class="rounded border p-4 mt-3">
                    <p class="text-muted">{{company.about_company}}</p>

                </div>
                &nbsp;
                <h4>Firma İlanları :</h4>

                <div class="row">
                    <!--START-->
                    {%for job in company_job%}
                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="job-list-box border rounded">
                            <div class="p-3">
                                <div class="row align-items-center">
                                    <div class="col-lg-2">
                                        <div class="company-logo-img">
                                            <a href="/company-detail/{{job.company.slug}}"><img
                                                    src="/uploads/{{job.company.logo}}" alt=""
                                                    class="img-fluid mx-auto d-block"></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-9">
                                        <div class="job-list-desc">
                                            <h6 class="mb-2"><a class="text-dark">{{job.title|title}}</a></h6>
                                            <p class="text-muted mb-0"><i class="mdi mdi-bank mr-2"></i>{{job.company.company_name|title}}
                                            </p>
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item mr-3">
                                                    <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i>{{job.city}}
                                                    </p>
                                                </li>

                                                <li class="list-inline-item">
                                                    <p class="text-muted mb-0"><i
                                                            class="mdi mdi-clock-outline mr-2"></i>{{job.create_at|timesince}}
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="job-list-button-sm text-right">
                                            <span class="badge badge-success">{{job.job_type}}</span>

                                            <div class="mt-3">
                                                <a href="/job-details/{{job.slug}}"
                                                   class="btn btn-sm btn-primary">İlan Detay</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                    <!--END-->

                    <div class="col-lg-12 mt-4 pt-2">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination job-pagination mb-0 justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                        <i class="mdi mdi-chevron-double-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="mdi mdi-chevron-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                &nbsp;


            </div>

            <div class="col-lg-4 col-md-5 mt-4">
                <div class="p-4 rounded text-center shadow">
                    <h5 class="text-dark">Share This Job</h5>
                    <ul class="social-icon social list-unstyled mb-0">
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-pinterest"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i
                                class="mdi mdi-share-variant"></i></a></li>
                    </ul>

                    <div class="map mt-3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569"
                                class="rounded" style="border: 0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- COMPANY DETAILS END -->


<!-- PHOTO GALLERY START -->
<div class="container">
    <div class="col">
        <h4>İşyerinden Fotoğraflar :</h4>
        &nbsp;
        <div class="row">
            <section class="photo_gallery">
                {% for gallery_image in gallery %}
                <a href="{{ gallery_image.image.url }}"><img src="{{ gallery_image.image.url }}" width="200"
                                                             height="200" alt=""
                                                             title=""/></a>
                {% endfor %}
            </section>
        </div>
    </div>
</div>
&nbsp;
<!-- PHOTO GALLERY END -->
<div class="row">
    <div class="col-6 offset-md-3">
        <form id="form" method="post" action="." enctype="multipart/form-data">

            {% csrf_token %}

            {{ form|crispy }}

            {{ formset.management_form }}
            {% for form in formset %}
            {{ form|crispy }}
            {% endfor %}

            <input type="submit" name="submit" value="Submit"/>
        </form>
    </div>
</div>
{% endblock %}