{% extends 'homebase.html' %}
{% block title %} {{ setting.title }}  {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block header %} {% include 'header.html' %}  {% endblock %}
{% block footer %} {% include 'footer.html' %}  {% endblock %}
{% block body %}
<section class="bg-half" style="background: url('/uploads/images/bg.jpg')">
    <div class="bg-overlay"></div>
</section>

    <!-- CONTACT FORM START -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="text-dark mb-0">Bize Ulaşın :</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-7 mt-4 pt-2">
                    <div class="custom-form rounded border p-4">
                        <div id="message"></div>
                        <form method="post" action="" name="contact-form" id="contact-form">
                             {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group app-label">
                                        <label class="text-muted">Ad soyad</label>
                                        <input name="name" id="name2" type="text" class="form-control resume">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group app-label">
                                        <label class="text-muted">E-mail</label>
                                        <input name="email" id="email1" type="email" class="form-control resume">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group app-label">
                                        <label class="text-muted">Konu</label>
                                        <input type="text" name="subject" class="form-control resume" id="subject">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group app-label">
                                        <label class="text-muted">Mesaj</label>
                                        <textarea name="message" id="comments" rows="5" class="form-control resume"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary" value="Gönder">
                                    <div id="simple-msg"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-4 col-md-5 mt-4 pt-2">
                    <div class="job-detail border rounded p-4">
                        <h5 class="text-dark pb-3">İletişim Bilgilerimiz </h5>
                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="mdi mdi-bank text-muted"></i>
                            </div>
                            <p class="text-muted mb-2">: {{setting.address}}</p>
                        </div>
                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="mdi mdi-email text-muted"></i>
                            </div>
                            <p class="text-muted mb-2">: {{setting.email}}</p>
                        </div>
                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="mdi mdi-cellphone-iphone text-muted"></i>
                            </div>
                            <p class="text-muted mb-2">: {{setting.phone}}</p>
                        </div>
&nbsp;
                        <ul class="list-unstyled social-icon mt-3 mb-0">
                            <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-whatsapp"></i></a></li>
                            <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CONTACT FORM END -->




{% endblock %}