{% load static %}
<!-- Start Home -->
 {% for message in messages %}
   <script type=text/javascript>
       toastr.{{ message.tags }}('{{ message }}')
   </script>
 {% endfor %}

<section class="bg-home"
         style="background: url('https://via.placeholder.com/2000X1333//88929f/5a6270C/O https://placeholder.com/') center center;">
    <div class="bg-overlay"></div>
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="title-heading text-center text-white">
                            <h6 class="small-title text-uppercase text-light mb-3">Find jobs, create trackable resumes
                                and enrich your applications.</h6>
                            <h1 class="heading font-weight-bold mb-4">The Easiest Way to Get Your New Job</h1>
                        </div>
                    </div>
                </div>
                <div class="home-form-position">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="home-registration-form p-4 mb-3">
                                <form class="registration-form" action="" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6">
                                            <div class="registration-form-box">
                                                <i class="fa fa-briefcase"></i>
                                                <input type="text" id="exampleInputName1" name="query"
                                                       class="form-control rounded registration-input-box"
                                                       placeholder="Meslek, firma adı veya sektör..">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="registration-form-box">
                                                <i class="fa fa-location-arrow"></i>
                                                <select id="select-country" class="demo-default" name="city">
                                                     <option value="">Şehir..</option>
                                                     {%for city in CITY%}
                                                     <option>{{city}}</option>
                                                    {%endfor%}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="registration-form-box">
                                                <i class="fa fa-list-alt"></i>
                                                <select id="select-category" class="demo-default" name="category">
                                                    <option value="">Sektör...</option>
                                                    {%for category in all_categories %}
                                                     <option>{{category}}</option>
                                                    {%endfor%}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="registration-form-box">
                                                <input type="submit" id="submit" name="send"
                                                       class="submitBnt btn btn-primary btn-block" value="Ara">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->

<!-- all jobs start -->
<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title title-line pb-5">Find Your Jobs</h4>
                    <p class="text-muted para-desc mx-auto mb-1">Post a job to tell us about your project. We'll quickly
                        match you with the right freelancers.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9 text-center mt-4 pt-2">
                <ul class="nav nav-pills nav nav-pills bg-white rounded nav-justified flex-column flex-sm-row"
                    id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link rounded active" id="recent-job-tab" data-toggle="pill" href="#recent-job"
                           role="tab" aria-controls="recent-job" aria-selected="true">Yeni Eklenen İlanlar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded" id="featured-job-tab" data-toggle="pill" href="#featured-job"
                           role="tab" aria-controls="featured-job" aria-selected="false">Popüler İlanlar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded" id="part-job-tab" data-toggle="pill" href="#part-job" role="tab"
                           aria-controls="part-job" aria-selected="false">Part Time İlanlar</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-content mt-2" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="recent-job" role="tabpanel"
                         aria-labelledby="recent-job-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--START-->
                                {%for recent_job in recent_jobs %}
                                <div class="job-box bg-white overflow-hidden border rounded mt-4 position-relative overflow-hidden">
                                    <div class="p-4">
                                        <div class="row align-items-center">
                                            <div class="col-md-2">
                                                <div class="mo-mb-2">
                                                    <a href="/company-detail/{{recent_job.company.slug}}"><img src="/uploads/{{recent_job.company.logo}}" alt=""
                                                         class="img-fluid mx-auto d-block"></a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div>
                                                    <h5 class="f-18"><a
                                                                        class="text-dark">{{recent_job.title}}</a>
                                                    </h5>
                                                    <p class="text-muted mb-0">{{recent_job.company.company_name}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div>
                                                    <p class="text-muted mb-0"><i
                                                            class="mdi mdi-map-marker text-muted mr-2"></i>{{recent_job.city}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span
                                                             class="mdi mdi-folder"> </span> {{recent_job.category}}</p>

                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <p class="text-muted mb-0">{{recent_job.job_type}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-3 bg-light">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span class="text-dark">Tecrübe :</span>
                                                        {{recent_job.experience}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span
                                                            class="text-dark">Eğitim :</span> {{recent_job.education_level}} </p>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <a href="/job-details/{{recent_job.slug}}" class="text-primary">İlana Git <i
                                                            class="mdi mdi-chevron-double-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!--END-->
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="featured-job" role="tabpanel" aria-labelledby="featured-job-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--START-->
                                {%for popular_job in popular_jobs %}
                                <div class="job-box bg-white overflow-hidden border rounded mt-4 position-relative overflow-hidden">
                                    <div class="p-4">
                                        <div class="row align-items-center">
                                            <div class="col-md-2">
                                                <div class="mo-mb-2">
                                                    <a href="/company-detail/{{popular_job.company.slug}}"><img src="/uploads/{{popular_job.company.logo}}" alt=""
                                                         class="img-fluid mx-auto d-block"></a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div>
                                                    <h5 class="f-18"><a
                                                                        class="text-dark">{{popular_job.title}}</a>
                                                    </h5>
                                                    <p class="text-muted mb-0">{{popular_job.company.company_name}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div>
                                                    <p class="text-muted mb-0"><i
                                                            class="mdi mdi-map-marker text-muted mr-2"></i>{{popular_job.company.city}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span
                                                            class="mdi mdi-folder"> </span> {{popular_job.category}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <p class="text-muted mb-0">{{popular_job.job_type}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-3 bg-light">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span class="text-dark">Tecrübe :</span>
                                                        {{popular_job.experience}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span
                                                            class="text-dark">Eğitim :</span> {{popular_job.education_level}} </p>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <a href="/job-details/{{popular_job.slug}}" class="text-primary">İlana Git <i
                                                            class="mdi mdi-chevron-double-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!--END-->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="part-job" role="tabpanel" aria-labelledby="part-job-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--START-->
                                {%for part_time_job in part_time_jobs %}
                                <div class="job-box bg-white overflow-hidden border rounded mt-4 position-relative overflow-hidden">
                                    <div class="p-4">
                                        <div class="row align-items-center">
                                            <div class="col-md-2">
                                                <div class="mo-mb-2">
                                                    <a href="/company-detail/{{part_time_job.company.slug}}"><img src="/uploads/{{part_time_job.company.logo}}" alt=""
                                                         class="img-fluid mx-auto d-block"></a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div>
                                                    <h5 class="f-18"><a
                                                                        class="text-dark">{{part_time_job.title}}</a>
                                                    </h5>
                                                    <p class="text-muted mb-0">{{part_time_job.company.company_name}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div>
                                                    <p class="text-muted mb-0"><i
                                                            class="mdi mdi-map-marker text-muted mr-2"></i>{{part_time_job.company.city}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span
                                                            class="mdi mdi-folder"> </span> {{part_time_job.category}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <p class="text-muted mb-0">{{part_time_job.job_type}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-3 bg-light">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span class="text-dark">Tecrübe :</span>
                                                        {{part_time_job.experience}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <p class="text-muted mb-0 mo-mb-2"><span
                                                            class="text-dark">Eğitim :</span> {{part_time_job.education_level}} </p>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div>
                                                    <a href="/job-details/{{part_time_job.slug}}" class="text-primary">İlana Git <i
                                                            class="mdi mdi-chevron-double-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!--END-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- end row -->
        <div class="row">
            <div class="col-lg-12 mt-4 pt-2">
                <nav aria-label="Page navigation example">
                    <ul class="pagination job-pagination mb-0 justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <i class="mdi mdi-chevron-double-left f-15"></i>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <i class="mdi mdi-chevron-double-right f-15"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- end containar -->
</section>
<!-- all jobs end -->


<!-- popular category start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title title-line pb-5">Popüler Sektörler</h4>
                    <p class="text-muted para-desc mx-auto mb-1">Post a job to tell us about your project. We'll quickly
                        match you with the right freelancers.</p>
                </div>
            </div>
        </div>
        <div id="owl-testi" class="owl-carousel owl-theme">  <!-- slider -->

            {% for key,value in popular_categories_dict.items %}
            <div class="citem testi-box rounded p-4 mr-3 ml-2 mb-4 bg-light position-relative">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-account d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">{{ key }}</h5>
                            <p class="text-success mb-0 rounded">{{ value }} İlan</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>

        <div class="row justify-content-center">
            <div class="col-12 text-center mt-4 pt-2">
                <a href="/job-list" class="btn btn-primary-outline">Tüm Kategorileri İncele <i
                        class="mdi mdi-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- popular category end -->

<!-- counter start -->
<section class="section bg-counter position-relative"
         style="background: url('https://via.placeholder.com/200X700//88929f/5a6270C/O https://placeholder.com/') center center;">
    <div class="bg-overlay bg-overlay-gradient"></div>
    <div class="container">
        <div class="row" id="counter">
            <div class="col-md-3 col-6">
                <div class="home-counter pt-4 pb-4">
                    <div class="float-left counter-icon mr-3">
                        <i class="mdi mdi-bank h1 text-white"></i>
                    </div>
                    <div class="counter-content overflow-hidden">
                        <h1 class="counter-value text-white mb-1" data-count="{{total_company}}"></h1>
                        <p class="counter-name text-white text-uppercase mb-0">Firma</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-6">
                <div class="home-counter pt-4 pb-4">
                    <div class="float-left counter-icon mr-3">
                        <i class="mdi mdi-file-document-box h1 text-white"></i>
                    </div>
                    <div class="counter-content overflow-hidden">
                        <h1 class="counter-value text-white mb-1" data-count="{{total_applications}}"></h1>
                        <p class="counter-name text-white text-uppercase mb-0">Başvuru</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-6">
                <div class="home-counter pt-4 pb-4">
                    <div class="float-left counter-icon mr-3">
                        <i class="mdi mdi-calendar-multiple-check h1 text-white"></i>
                    </div>
                    <div class="counter-content overflow-hidden">
                        <h1 class="counter-value text-white mb-1" data-count="{{total_job}}"></h1>
                        <p class="counter-name text-white text-uppercase mb-0">İş İlanı</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="home-counter pt-4 pb-4">
                    <div class="float-left counter-icon mr-3">
                        <i class="mdi mdi-account-multiple-plus h1 text-white"></i>
                    </div>
                    <div class="counter-content overflow-hidden">
                        <h1 class="counter-value text-white mb-1" data-count="{{total_user}}"></h1>
                        <p class="counter-name text-white text-uppercase mb-0">İş Arayan</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- counter end -->


