{% extends 'homebase.html' %}
{% block title %} {{ setting.title }}  {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block header %} {% include 'header.html' %}  {% endblock %}
{% block footer %} {% include 'footer.html' %}  {% endblock %}
{% block body %}
{% load static %}
{% if messages %}
                    {% for message in messages %}
                    <script type=text/javascript>
                        toastr.
                        {
                            {
                                message.tags
                            }
                        }
                        ('{{ message }}')</script>
                    {% endfor %}
                    {% endif %}
<section class="bg-half" xmlns="http://www.w3.org/1999/html" style="background: url('/uploads/images/bg.jpg')">
    <div class="bg-overlay"></div>
</section>

<!-- CREATE RESUME START -->
<section class="section">
    <div class="container">
        <div class="row">

            <div class="col-12 mt-3">
                <div class="custom-form p-4 border rounded">
                    <div class="col-lg-12">
                        <h5 class="text-dark">Genel Bilgiler :</h5>
                    </div>

                    <form id="login-form" class="login-form" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <img src="\uploads\{{userprofile.image}}" height="200" width="200"
                             class="img-fluid d-block mx-auto rounded-pill"
                             alt="">
                        <div align="center">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <div class="input-group mt-2 mb-2">
                                                <div class="custom-file" align="left">
                                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                                           name="image" accept=".jpg, .jpeg, .png"
                                                           aria-describedby="inputGroupFileAddon01">
                                                    <label class="custom-file-label rounded"><i
                                                            class="mdi mdi-cloud-upload mr-1"></i> Upload Files</label>
                                                </div>
                                            </div>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="row mt-4">
                            <div class="col-md-4">
                                <div class="form-group app-label">
                                    <label class="text-muted">Doğum Tarihi :</label>
                                    <input id="date-of-birth" type="date" class="form-control resume"
                                           placeholder="13.02.1999" name="birth_date"
                                           value="{{userprofile.birth_date}}">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group app-label">
                                    <label class="text-muted">Cinsiyet :</label>
                                    <div class="form-button">
                                        <select class="nice-select rounded" name="gender">
                                            <option selected="selected">{{userprofile.gender}}</option>
                                            <option>Erkek</option>
                                            <option>Kadın</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group app-label">
                                    <label class="text-muted">Şehir</label>
                                    <div class="form-button">
                                        <select id="select-country" class="demo-default" name="city">
                                            <option>{{userprofile.city}}</option>
                                            {%for city in CITY%}
                                            <option>{{city}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group app-label">
                                    <label class="text-muted">Telefon Numarası :</label>
                                    <input id="phone" type="text" class="form-control resume"
                                           placeholder="Telefon Numarası" name="phone" value="{{userprofile.phone}}">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group app-label">
                                    <label class="text-muted">E-mail</label>
                                    <input id="e-mail" type="email" name="email" class="form-control resume"
                                           placeholder="E-mail Adres :" value="{{user.email}}">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group app-label">
                                    <label class="text-muted">Web site</label>
                                    <input id="website" type="text" class="form-control resume"
                                           placeholder="www.example.com" name="web_site"
                                           value="{{userprofile.web_site}}">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group app-label">
                                    <label class="text-muted">Adres :</label>
                                    <input id="address" class="form-control resume" placeholder="Adres"
                                           name="address" value="{{userprofile.address}}">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="text-dark mt-5">CV Özet Bilgi :</h5>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="custom-form p-4 border rounded">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Başlık :</label>
                                                <input class="form-control resume"
                                                       placeholder="Aradığınız meslek veya pozisyon"
                                                       name="title" value="{{userprofile.title}}">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Özet Bilgi :</label>
                                                <textarea id="presentation" name="presentation" rows="4"
                                                          class="form-control resume"
                                                          placeholder="Özgeçmişiniz için bir tanıtım yazısı yazınız.."
                                                >{{userprofile.presentation}}</textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="text-dark mt-5">Eğitim Bilgileri :</h5>
                            </div>
                            <div class="col-lg-12">
                                <div class="row float-right mr-2">
                                    <input id="educationCount" name="educationCount" value="1" type="hidden">
                                    <button class="btn btn-primary-outline"
                                            id="educationAddButton" type="button"
                                            onclick="addEducationFields()">Alan Ekle <i
                                            class="mdi mdi-plus-circle-outline"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="custom-form p-4 border rounded">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Okul</label>
                                                <input id="school" name="school" type="text" class="form-control resume"
                                                       placeholder="Örn: İstanbul Üniversitesi"
                                                       value="{{user_education.school}}">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Derece </label>
                                                <div class="form-button">
                                                    <select class="nice-select rounded" name="degree">
                                                        <option selected="selected" data-display="">
                                                            {{user_education.degree}}
                                                        </option>
                                                        <option value="Lise">Lise</option>
                                                        <option value="Ön Lisans">Ön Lisans</option>
                                                        <option value="Lisans">Lisans</option>
                                                        <option value="Yüksek Lisans">Yüksek Lisans</option>
                                                        <option value="Doktora">Doktora</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Bölüm</label>
                                                <input id="department" name="department" type="text"
                                                       class="form-control resume" placeholder="Örn: Matematik"
                                                       value="{{user_education.department}}">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group app-label">
                                                        <label class="text-muted">Başlangıç Tarihi</label>
                                                        <input id="start_date" name="start_date" type="date"
                                                               class="form-control resume" placeholder=""
                                                               value="{{user_education.start_date}}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group app-label">
                                                        <label class="text-muted">Bitiş Tarihi</label>
                                                        <input id="end-date" type="date" name="end_date"
                                                               class="form-control resume" placeholder=""
                                                               value="{{user_education.end_date}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Ek Bilgiler :</label>
                                                <textarea id="education_add_info" name="education_add_info" rows="4"
                                                          class="form-control resume"
                                                          placeholder="Eğitim durumunuzla ilgili ek bilgileri yazınız.."
                                                >{{user_education.education_add_info}}</textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                        <div id="extra-education-area">
                        </div>

                        <div class="row">
                            <div class="col-12 mt-5">
                                <h5 class="text-dark">İş Deneyimleri :</h5>
                            </div>
                            <div class="col-lg-12">
                                <div class="row float-right mr-2">
                                    <input id="experienceCount" name="experienceCount" value="1" type="hidden">
                                    <button class="btn btn-primary-outline"
                                            id="experienceAddButton" type="button"
                                            onclick="addExperienceFields()">Alan Ekle <i
                                            class="mdi mdi-plus-circle-outline"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="custom-form p-4 border rounded">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Firma Adı</label>
                                                <input id="company" name="company" type="text"
                                                       class="form-control resume"
                                                       placeholder="Firma adı" value="{{user_experience.company}}">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Pozisyon </label>
                                                <input id="position" name="position" type="text"
                                                       class="form-control resume"
                                                       placeholder="Pozisyon, meslek"
                                                       value="{{user_experience.position}}">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Şehir</label>
                                                <div class="form-button">
                                                    <select id="select-country2" class="nice-select rounded" name="location" >
                                                        <option></option>
                                                        {%for city in CITY%}
                                                        <option>{{city}}</option>
                                                        {%endfor%}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group app-label">
                                                        <label class="text-muted">Date From</label>
                                                        <input id="date_from" name="date_from" type="text"
                                                               class="form-control resume"
                                                               placeholder="01-Jan-2018"
                                                               value="{{user_experience.date_from}}">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group app-label">
                                                        <label class="text-muted">Date To</label>
                                                        <input id="date_to" name="date_to" type="text"
                                                               class="form-control resume"
                                                               placeholder="31-March-2019"
                                                               value="{{user_experience.date_to}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group app-label">
                                                <label>Ek Bilgiler :</label>
                                                <textarea id="addition-information-1" rows="4"
                                                          class="form-control resume" name="experience_add_info"
                                                          placeholder="Deneyiminizle ilgili açıklayıcı bilgileri yazınız..">{{user_experience.experience_add_info}}</textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div id="extra-experience-area">
                        </div>

                        <div class="row">
                            <div class="col-12 mt-5">
                                <h5 class="text-dark">Yetenekler :</h5>
                            </div>
                            <div class="col-lg-12">
                                <div class="row float-right mr-2">
                                    <input id="skillCount" name="skillCount" value="1" type="hidden">
                                    <button class="btn btn-primary-outline"
                                            id="skillAddButton" type="button"
                                            onclick="addSkillFields()">Alan Ekle <i
                                            class="mdi mdi-plus-circle-outline"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="custom-form p-4 border rounded">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Yetenek</label>
                                                <input id="skill" name="skill" type="text" class="form-control resume"
                                                       placeholder="HTML, CSS, PHP, javascript, ...">
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Yetenek düzeyi </label>
                                                <input id="skill_value" name="skill_value" type="number"
                                                       class="form-control resume" placeholder="75%">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div id="extra-skill-area">
                        </div>
                        <div class="col-12 mt-4">
                            <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary"
                                   value="Bilgileri Kaydet">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- CREATE RESUME END -->

<script>
    let html1 = ` <div class="row">
                            <div class="col-lg-12">
                                <h5 class="text-dark mt-5">Eğitim Bilgileri :</h5>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="custom-form p-4 border rounded">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Okul</label>
                                                <input id="school" name="school" type="text" class="form-control resume"
                                                       placeholder="Örn: İstanbul Üniversitesi"
                                                       value="{{user_education.school}}">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Derece </label>
                                                <div class="form-button">
                                                    <select class="nice-select rounded" name="degree">
                                                        <option selected="selected" data-display="">
                                                            {{user_education.degree}}
                                                        </option>
                                                        <option value="Lise">Lise</option>
                                                        <option value="Ön Lisans">Ön Lisans</option>
                                                        <option value="Lisans">Lisans</option>
                                                        <option value="Yüksek Lisans">Yüksek Lisans</option>
                                                        <option value="Doktora">Doktora</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Bölüm</label>
                                                <input id="department" name="department" type="text"
                                                       class="form-control resume" placeholder="Örn: Matematik"
                                                       value="{{user_education.department}}">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group app-label">
                                                        <label class="text-muted">Başlangıç Tarihi</label>
                                                        <input id="start_date" name="start_date" type="date"
                                                               class="form-control resume" placeholder=""
                                                               value="{{user_education.start_date}}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group app-label">
                                                        <label class="text-muted">Bitiş Tarihi</label>
                                                        <input id="end-date" type="date" name="end_date"
                                                               class="form-control resume" placeholder=""
                                                               value="{{user_education.end_date}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Ek Bilgiler :</label>
                                                <textarea id="education_add_info" name="education_add_info" rows="4"
                                                          class="form-control resume"
                                                          placeholder="Eğitim durumunuzla ilgili ek bilgileri yazınız.."
                                                >{{user_education.education_add_info}}</textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>`;

    function addEducationFields() {
        document.querySelector('#extra-education-area').insertAdjacentHTML('afterbegin', html1);
        var i = parseInt(document.querySelector('#educationCount').value);
        document.querySelector('#educationCount').value = i + 1;

    }

    /*
        function removeEducationFields(input) {
            input.parentNode.parentNode.parentNode.parentNode.remove()
            var i = parseInt(document.querySelector('#educationCount').value);
            document.querySelector('#educationCount').value = i - 1;
        }
    */
</script>

<script>
    let html2 = `<div class="row">
                            <div class="col-12 mt-5">
                                <h5 class="text-dark">İş Deneyimleri :</h5>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="custom-form p-4 border rounded">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Firma Adı</label>
                                                <input id="company" name="company" type="text"
                                                       class="form-control resume"
                                                       placeholder="Firma adı" value="{{user_experience.company}}">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Pozisyon </label>
                                                <input id="position" name="position" type="text"
                                                       class="form-control resume"
                                                       placeholder="Pozisyon, meslek"
                                                       value="{{user_experience.position}}">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Şehir</label>
                                                <div class="form-button">
                                                    <select id="location" class="nice-select rounded" name="location">
                                                        <option></option>
                                                        {%for city in CITY%}
                                                        <option>{{city}}</option>
                                                        {%endfor%}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group app-label">
                                                        <label class="text-muted">Date From</label>
                                                        <input id="date_from" name="date_from" type="text"
                                                               class="form-control resume"
                                                               placeholder="01-Jan-2018"
                                                               value="{{user_experience.date_from}}">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group app-label">
                                                        <label class="text-muted">Date To</label>
                                                        <input id="date_to" name="date_to" type="text"
                                                               class="form-control resume"
                                                               placeholder="31-March-2019"
                                                               value="{{user_experience.date_to}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group app-label">
                                                <label>Ek Bilgiler :</label>
                                                <textarea id="addition-information-1" rows="4"
                                                          class="form-control resume" name="experience_add_info"
                                                          placeholder="Deneyiminizle ilgili açıklayıcı bilgileri yazınız..">{{user_experience.experience_add_info}}</textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>`;

    function addExperienceFields() {
        document.querySelector('#extra-experience-area').insertAdjacentHTML('afterbegin', html2);
        var i = parseInt(document.querySelector('#experienceCount').value);
        document.querySelector('#experienceCount').value = i + 1;

    }
</script>

<script>
    let html3 = `<div class="row">
                            <div class="col-12 mt-5">
                                <h5 class="text-dark">Yetenekler :</h5>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="custom-form p-4 border rounded">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Yetenek</label>
                                                <input id="skill" name="skill" type="text" class="form-control resume"
                                                       placeholder="HTML, CSS, PHP, javascript, ...">
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group app-label">
                                                <label class="text-muted">Yetenek düzeyi </label>
                                                <input id="skill_value" name="skill_value" type="number"
                                                       class="form-control resume" placeholder="75%">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>`;

    function addSkillFields() {
        document.querySelector('#extra-skill-area').insertAdjacentHTML('afterbegin', html3);
        var i = parseInt(document.querySelector('#skillCount').value);
        document.querySelector('#skillCount').value = i + 1;

    }
</script>

{% endblock %}