    {% load static %}
<!-- footer start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                    <a href="javascript:void(0)"><img src="{% static 'images/logo-light.png' %}" height="20" alt=""></a>
                    <p class="mt-4">{{setting.address}}</p>
                    <ul class="social-icon social list-inline mb-0">
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-google"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">

                    <ul class="list-unstyled footer-list">
                        <li><a href="/about" class="text-foot"><i class="mdi mdi-chevron-right"></i> Hakkımızda </a></li>
                        <li><a href="/faq" class="text-foot"><i class="mdi mdi-chevron-right"></i> Sıkça Sorulan Sorular </a></li>
                        <li><a href="/contact" class="text-foot"><i class="mdi mdi-chevron-right"></i> Bize Ulaşın </a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Basında Biz </a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <ul class="list-unstyled footer-list">
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Destek </a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Gizlilik Politikamız </a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Sözleşme ve Şartlar </a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Banka Hesaplarımız </a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title f-17">Çalışma Saatleri</p>
                    <ul class="list-unstyled text-foot mt-4 mb-0">
                        <li>Pazartesi - Cuma : 8:00 to 18:00</li>
                        <li class="mt-2">Cumartesi : 10:00 to 15:00</li>
                        <li class="mt-2">Pazar : Tatil</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <hr>
    <footer class="footer footer-bar">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="">
                        <p class="mb-0">© 2022 İşbul Bilişim A.Ş <i class="mdi mdi-heart text-danger"></i> by Themesdesign.</p>
                    </div>
                </div>
            </div>
        </div><!--end container-->
    </footer><!--end footer-->
    <!-- Footer End -->

    <!-- Back to top -->
    <a href="#" class="back-to-top rounded text-center" id="back-to-top">
        <i class="mdi mdi-chevron-up d-block"> </i>
    </a>
    <!-- Back to top -->

        <!-- javascript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>

    <!-- selectize js -->
    <script src="{% static 'js/selectize.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>

    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/counter.int.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>

    <!-- Image Gallery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.js" integrity="sha512-ZajFBgnksNp8Rj+AbmYe8ueOu45HiSjtf3QpqnRbHlq719m6VK0FkbYIqQ8wEnlVuJ1i9pC+z6Z9ewmDnUTMCg==" crossorigin="anonymous"></script>
    <script>
    var gallery = new SimpleLightbox('.photo_gallery a');
    </script>