{% load static %}
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->

<!-- Navigation Bar-->
<header id="topnav" class="defaultscroll scroll-active">
    <!-- Tagline STart -->
    {% if user.id is not None %}
    <div class="tagline">
        <div class="container">
            <div class="float-left">
                <div class="email">
                    <a href="#">
                        <i class="mdi mdi-email"></i> {{user.email}}
                    </a>
                </div>
            </div>
            <div class="float-right">
                <ul class="topbar-list list-unstyled d-flex" style="margin: 11px 0px;">
                    <li class="list-inline-item"><a href="javascript:void(0);"><i class="mdi mdi-account mr-2"></i>
                        {{user.first_name }} {{user.last_name}}</a></li>
                    <li class="list-inline-item"><a href="/logout"><i class="mdi mdi-logout mr-2"></i>Çıkış Yap</a></li>

                </ul>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
    {%else%}
    <div class="tagline">
        <div class="container">
            <div class="float-left">
                <div class="phone">
                    <i class="mdi mdi-phone-classic"></i> 444 0 444
                </div>
                <div class="email">
                    <a href="#">
                        <i class="mdi mdi-email"></i> support@isbul.com
                    </a>
                </div>
            </div>
            <div class="float-right">
                <ul class="topbar-list list-unstyled d-flex" style="margin: 11px 0px;">
                    <li class="list-inline-item"><a href="/login"><i class="mdi mdi-account mr-2"></i>Giriş yap</a></li>

                </ul>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
    {%endif%}
    <!-- Tagline End -->

    <!-- Menu Start -->
    <div class="container">
        <!-- Logo container-->
        <div >
            <a href="/" class="logo" style="margin-top: 20px">
                <img src=" {% static 'images/logo-light.png' %} " alt="" class="logo-light" height="18"/>
                <img src=" {% static 'images/logo-dark.png' %} " alt="" class="logo-dark" height="18"/>
            </a>
        </div>
        <div class="buy-button">
            <a href="/login" class="btn btn-primary"><i class="mdi mdi-login"></i>İş Arayan Giriş</a>
        </div>
        <div class="buy-button">
            <a> &nbsp;&nbsp;</a>
        </div>
        <div class="buy-button">
            <a href="/company-login" class="btn btn-primary"><i class="mdi mdi-login"></i>İşveren Giriş</a>
        </div>

        <!--end login button-->
        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li><a href="/">Ana Sayfa</a></li>

                <li class="has-submenu">
                    <a href="javascript:void(0)">İşveren</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="/employers-list">Aday Bul</a></li>
                        <li><a href="/post-a-job">İş İlanı Oluştur</a></li>
                        <li><a href="/company-signup">Kayıt Ol</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="javascript:void(0)">İş Arayan</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="/job-list">İş İlanları</a></li>
                        <li><a href="/signup">Kayıt Ol</a></li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="javascript:void(0)">Hakkımızda</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="/about">Hakkımızda</a></li>
                        <li><a href="/faq">Sıkça Sorulan Sorular</a></li>
                        <li><a href="/contact">Bize Ulaşın</a></li>
                    </ul>
                </li>
                {% for group in request.user.groups.all %}
                {% if group.name == 'employer' %}
                <li class="has-submenu">
                    <a href="javascript:void(0)">Hesabım</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="/company-detail/{{user.username}}">Firma Bilgilerim</a></li>
                        <li><a href="/company-info/{{user.username}}">Bilgilerimi Güncelle</a></li>
                        <li><a href="/post-a-job">İş İlanı Oluştur</a></li>
                        <li><a href="/change-password">Şifremi Değiştir</a></li>
                        <li><a href="/logout">Çıkış Yap</a></li>
                    </ul>
                </li>
                {% endif %}

                {% if group.name == "job_seeker" %}
                <li class="has-submenu">
                    <a href="javascript:void(0)">Hesabım</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="/candidates-profile/{{user.username}}">Özgeçmişim</a></li>
                        <li><a href="/create-resume">Bilgilerimi Güncelle</a></li>
                        <li><a href="/">Başvurularım</a></li>
                        <li><a href="/change-password">Şifremi Değiştir</a></li>
                        <li><a href="/logout">Çıkış Yap</a></li>
                    </ul>
                </li>
                {% endif %}

                {% endfor %}
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
    <!--end end-->
</header><!--end header-->
<!-- Navbar End -->
