{% extends 'homebase.html' %}
{% block title %} {{ setting.title }}  {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block header %} {% include 'header.html' %}  {% endblock %}
{% block footer %} {% include 'footer.html' %}  {% endblock %}
{% block body %}
{% load static %}
{% load i18n %}
{% for message in messages %}
<script type=text/javascript>
    toastr.
    {
        {
            message.tags
        }
    }
    ('{{ message }}')
</script>
{% endfor %}

<section class="bg-half" style="background: url('/uploads/images/bg.jpg')">
    <div class="bg-overlay"></div>
</section>

<!-- JOB DETAILS START -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="mb-2">{{job.title}}</a></h3>
            </div>
            <div class="col-lg-12">
                <h5 class="mb-0"><a  ><i class="mdi mdi-bank mr-1"></i></a> {{job.company.company_name}}</h5>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <div class="job-detail border rounded">
                        <div class="job-detail job-overview mt-4 mb-4">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="single-post-item mb-4">
                                            <div class="float-left mr-3">
                                                <i class="mdi mdi-map-marker text-muted mdi-24px"></i>
                                            </div>
                                            <div class="overview-details">
                                                <h6 class="text-muted mb-0">Konum</h6>
                                                <h6 class="text-black-50 pt-2 mb-0">{{job.city}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="single-post-item mb-4">
                                            <div class="float-left mr-3">
                                                <i class="mdi mdi-apps text-muted mdi-24px"></i>
                                            </div>
                                            <div class="overview-details">
                                                <h6 class="text-muted mb-0">Sektör</h6>
                                                <h6 class="text-black-50 pt-2 mb-0">{{job.category}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="single-post-item mb-4">
                                            <div class="float-left mr-3">
                                                <i class="mdi mdi-security text-muted mdi-24px"></i>
                                            </div>
                                            <div class="overview-details">
                                                <h6 class="text-muted mb-0">Tecrübe</h6>
                                                <h6 class="text-black-50 pt-2 mb-0">{{job.experience}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="single-post-item mb-4">
                                            <div class="float-left mr-3">
                                                <i class="mdi mdi-library-books text-muted mdi-24px"></i>
                                            </div>
                                            <div class="overview-details">
                                                <h6 class="text-muted mb-0">Eğitim</h6>
                                                <h6 class="text-black-50 pt-2 mb-0">{{job.education_level}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="single-post-item mb-4">
                                            <div class="float-left mr-3">
                                                <i class="mdi mdi-human-male-female text-muted mdi-24px"></i>
                                            </div>
                                            <div class="overview-details">
                                                <h6 class="text-muted mb-0">Cinsiyet</h6>
                                                <h6 class="text-black-50 pt-2 mb-0">{{job.gender}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="single-post-item mb-4">
                                            <div class="float-left mr-3">
                                                <i class="mdi mdi-calendar-today text-muted mdi-24px"></i>
                                            </div>
                                            <div class="overview-details">
                                                <h6 class="text-muted mb-0">İlan Tarihi</h6>
                                                <h6 class="text-black-50 pt-2 mb-0">{{ job.create_at|timesince}}</h6>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                </div>
                &nbsp;
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="mb-2">Firma Hakkında: </a></h5>
                    </div>
                </div>
                <div class="job-detail border rounded p-4">
                    <div class="job-detail-desc mt-4">
                        <p class="text-muted mb-3">{{job.company.about_company|safe}}</p>
                    </div>
                </div>
                &nbsp;
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class="mb-2">Genel Nitelikler ve İş Tanımı: </a></h5>
                    </div>
                </div>
                <div class="job-detail border rounded p-4">

                    <div class="job-detail-desc mt-4">
                        <p class="text-muted mb-3">{{job.description|safe}}I</p>
                    </div>
                </div>
                &nbsp;
                {% if job.company.user.username == user.username %}
                <div class="col-lg-12">
                    <h3 class="mb-2">Bu ilana başvuru yapan adaylar</a></h3>
                </div>
                <div class="row">
                    {%if applied_this_job|length > 0 %}
                    <!--START-->
                    {%for employer in applied_this_job %}
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="employers-list position-relative pb-3 pt-3 pl-2 pr-2 border rounded">
                            <img src="/uploads/{{employer.image}}" alt=""
                                 class="mx-auto d-block shadow border rounded-circle" height="90">
                            <div class="grid-list-desc text-center mt-3">
                                <h5 class="mb-2"><a href="/candidates-profile/{{employer.user.username}}"
                                                    class="text-dark name">{{employer.first_name}}
                                    {{employer.last_name}}</a></h5>
                                <p class="text-muted mb-0">{{employer.title}}</p>
                                <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i>{{employer.city}}</p>
                                <ul class="employers-icons list-inline mb-1">
                                            <li class="list-inline-item"><a  class="text-success"><i
                                                    class="mdi mdi-star{% if employer.rate < 1 %}-outline {% endif %}"></i></a></li>
                                            <li class="list-inline-item"><a  class="text-success"><i
                                                    class="mdi mdi-star{% if employer.rate < 2 %}-outline {% endif %}"></i></a></li>
                                            <li class="list-inline-item"><a class="text-success"><i
                                                    class="mdi mdi-star{% if employer.rate < 3 %}-outline {% endif %}"></i></a></li>
                                            <li class="list-inline-item"><a class="text-success"><i
                                                    class="mdi mdi-star{% if employer.rate < 4 %}-outline {% endif %}"></i></a></li>
                                            <li class="list-inline-item"><a  class="text-success"><i
                                                    class="mdi mdi-star{% if employer.rate < 5 %}-outline {% endif %}"></i></a></li>
                                            <li class="list-inline-item badge badge-success text-white">{{employer.rate}}</li>
                                        </ul>
                            </div>
                            <div class="apply-button text-center mt-3">
                                <a href="/candidates-profile/{{employer.user.username}}" class="btn btn-primary btn-sm">Profile
                                    Git</a>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                    <!--END-->
                    {% else %}
                    <div class="col-lg-12">
                        <h5 class="text-dark mb-0 pt-2 f-18">Bu ilana henüz başvuru yapılmadı</h5>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="col-lg-4 col-md-5 mt-4 mt-sm-0">
                <div class="job-detail border rounded p-4">
                    <div class="col-lg-12 float-lg-right">
                        <a href="/company-detail/{{job.company.slug}}"  target ="_blank">
                        <img  src="/uploads/{{job.company.logo}}" alt=""
                             class="img-fluid float-left mr-md-3 mr-2 mx-auto d-block">
                            </a>
                    </div>
                     &nbsp
                    <div class="job-detail-location pt-4">

                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="mdi mdi-bank text-muted"></i>
                            </div>
                            <p class="text-muted mb-2">: {{job.company.company_name}}</p>
                        </div>

                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="mdi mdi-email text-muted"></i>
                            </div>
                            <p class="text-muted mb-2">: {{job.company.email}}</p>
                        </div>

                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="mdi mdi-web text-muted"></i>
                            </div>
                            <p class="text-muted mb-2">: {{job.company.web_site}}</p>
                        </div>

                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="mdi mdi-cellphone-iphone text-muted"></i>
                            </div>
                            <p class="text-muted mb-2">: {{job.company.phone}}</p>
                        </div>

                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="mdi mdi-map-marker text-muted"></i>
                            </div>
                            <p class="text-muted mb-2">: {{job.company.city}}
                        </div>

                        <div class="job-details-desc-item">
                            <div class="float-left mr-2">
                                <i class="mdi mdi-security text-muted"></i>
                            </div>
                            <p class="text-muted mb-2">: {{job.company.sector}}</p>
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569"
                            class="rounded" style="border: 0" allowfullscreen=""></iframe>
                </div>
                <div class="job-details-desc-item mt-2">
                    <div class="float-left mr-2">
                        <i class="mdi mdi-map-marker text-muted"></i>
                    </div>
                    <p class="text-muted mb-2">{{job.company.address}}</p>
                    <ul class="social-icon list-inline mb-0 mt-4">
                        <li class="list-inline-item">Share :</li>
                        <li class="list-inline-item"><a href="#" class=" rounded"><i class="mdi mdi-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class=" rounded"><i class="mdi mdi-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class=" rounded"><i
                                class="mdi mdi-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="#" class=" rounded"><i class="mdi mdi-whatsapp"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class=" rounded"><i class="mdi mdi-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <form method="post" action="" name="apply-job">
                    {% csrf_token %}
                    <div class="job-detail border rounded mt-4">
                        <button class="btn btn-primary btn-block"
                                type="submit" id="submit" name="submit"><i class="mdi mdi-send mr-2"></i>İlana Başvuru
                            Yap
                        </button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</section>
<!-- JOB DETAILS END -->


{% endblock %}
