{% extends 'homebase.html' %}
{% block title %} {{ setting.title }}  {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block footer %} {% include 'footer2.html' %}  {% endblock %}
{% block body %}


<body>
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->

<div class="back-to-home rounded d-none d-sm-block">
    <a href="/" class="text-white rounded d-inline-block text-center"><i class="mdi mdi-home"></i></a>
</div>

<!-- Hero Start -->
<section class="vh-100"
         style="background: url('https://via.placeholder.com/2000X1333//88929f/5a6270C/O https://placeholder.com/') center center;">

    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="login_page bg-white shadow rounded p-4">
                            <div class="text-center">
                                <h4 class="mb-4">Şifre Değiştir</h4>
                            </div>
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{message.tags}}" role="alert">
                                {{ message|safe }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            <form class="login-form"  method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="text-muted">Please enter your email address. You will receive a link
                                            to create a new password via email.</p>
                                        <div class="form-group position-relative">
                                            <label>Eski Şifre <span class="text-danger">*</span></label>
                                            <input type="password" class="form-control" placeholder="Şifrenizi giriniz"
                                                   name="old_password" required="">
                                        </div>
                                        <div class="form-group position-relative">
                                            <label>Yeni Şifre <span class="text-danger">*</span></label>
                                            <input type="password" class="form-control"
                                                   placeholder="Yeni şifrenizi giriniz" name="new_password1"
                                                   required="">
                                        </div>
                                        <div class="form-group position-relative">
                                            <label>Yeni Şifre Tekrar <span class="text-danger">*</span></label>
                                            <input type="password" class="form-control"
                                                   placeholder="Yeni şifrenizi tekrar giriniz" name="new_password2"
                                                   required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button class="btn btn-primary w-100">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> <!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </div>
    </div>
</section><!--end section-->
<!-- Hero End -->

{% endblock %}