{% extends 'homebase.html' %}
{% block title %} {{ setting.title }}  {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block footer %} {% include 'footer2.html' %}  {% endblock %}
{% block body %}

<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->

<div class="back-to-home rounded d-none d-sm-block">
    <a href="/" class="text-white rounded d-inline-block text-center"><i class="mdi mdi-home"></i></a>
</div>

<!-- Hero Start -->
<section class="vh-100"
         style="background: url('https://via.placeholder.com/2000X1333//88929f/5a6270C/O https://placeholder.com/') center center;">
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="login_page bg-white shadow rounded p-4">
                            <div class="text-center">
                                <h4 class="mb-4">İş Arayan Kayıt Ol</h4>
                            </div>
                             {% if messages %}
                                       {% for message in messages %}
                                         <script type=text/javascript>
                                             toastr.{{ message.tags }}('{{ message }}')</script>
                                        {% endfor %}
                                    {% endif %}
                            <form class="login-form" method="post" action="">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Kullanıcı adı <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" placeholder="Kullanıcı adı"
                                                   name="username" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Ad <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" placeholder="Ad" name="first_name"
                                                   required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Soyad <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" placeholder="Soyad" name="last_name"
                                                   required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>E-mail <span class="text-danger">*</span></label>
                                            <input type="email" class="form-control" placeholder="E-mail" name="email"
                                                   required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Şifre <span class="text-danger">*</span></label>
                                            <input type="password" class="form-control" placeholder="Şifre"
                                                   name="password1" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            <label>Şifre tekrar <span class="text-danger">*</span></label>
                                            <input type="password" class="form-control" placeholder="Şifre tekrar"
                                                   name="password2" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="custom-control m-0 custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1"><a
                                                        href="#" class="text-primary">Sözleşme şartlarını</a> kabul
                                                    ediyorum </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-primary w-100">Kayıt Ol</button>
                                    </div>
                                    <div class="mx-auto">
                                        <p class="mb-0 mt-3"><small class="text-dark mr-2">Zeten bir hesabın var mı
                                            ?</small> <a href="login.html" class="text-dark font-weight-bold">Giriş
                                            yap</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> <!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </div>
    </div>
</section><!--end section-->
<!-- Hero End -->
{% endblock %}